<div class="contact-detail-container">
  @if (contact() !== null) {
    <img [src]="'/users/' + contact()!.avatar" [alt]="contact()!.name" />

    <div class="info-container">
      <h1>{{ contact()!.name }}</h1>
      <a href="mailto:{{ contact()!.email }}">{{ contact()!.email }}</a>

      <div class="details">
        <div class="column">
          <span>
            <a href="tel:{{ contact()!.phone.mobile }}">{{ contact()!.phone.mobile }}</a> main
          </span>
          @if (contact()!.phone.work) {
            <span>
              <a href="tel:{{ contact()!.phone.work }}">{{ contact()!.phone.work }}</a> work
            </span>
          }
          <div class="min-h-[60px] p-1">
            <h3>Notes:</h3>
            <p>{{ contact()!.notes }}</p>
          </div>
        </div>
        <div class="column">
          <span>{{ contact()!.address }}</span>
          <span>
            {{ contact()!.city }}, {{ contact()!.state }} {{ contact()!.postalCode }}
          </span>
        </div>
      </div>

      <div class="buttons">
        <button variant="primary" (click)="handleEditClick()">Edit</button>
        <button variant="danger" (click)="handleDeleteClick()">Delete</button>
        <button variant="secondary" (click)="handleBackClick()">Back</button>
      </div>
    </div>
  } @else {
    <p>Loading...</p>
  }
</div>
