<div class="contacts-container">
  <h1>Contacts</h1>
  <ul>
    @for (contact of contacts; track contact.id) {
      <li>
        <a routerLink="/contacts/{{ contact.id }}">
          <img [src]="'/users/' + contact.avatar" [alt]="contact.name + '\'s avatar'" />
          <div>
            <span>{{ contact.name }}</span>
            <span>{{ contact.email }}</span>
            <span>
              {{ contact.phone.mobile }}(m)
              @if (contact.phone.work) {
                {{ ' / ' + contact.phone.work }}(w)
              }
            </span>
          </div>
        </a>
      </li>
    }
  </ul>
  <button variant="success" (click)="handleAddClick()">Add Contact</button>
</div>
